apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: monitoring
  name: secret-reader
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: monitoring-stack-admission-secret-reader
  namespace: monitoring
subjects:
- kind: ServiceAccount
  name: monitoring-stack-kube-prom-admission
  namespace: monitoring
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
