---

- name: Reset Kubernetes cluster state
  become: yes
  shell: |
    kubeadm reset -f
    rm -rf /etc/kubernetes/manifests/*
    rm -rf /var/lib/etcd/*
    systemctl stop kubelet
    systemctl stop crio
    systemctl start crio
    systemctl start kubelet
  ignore_errors: true
  
- name: Join worker node to the Kubernetes cluster
  become: yes
  command: "{{ kubeadm_join_worker_command }}"
  register: join_result
  changed_when: "'already joined' not in join_result.stderr.lower() and join_result.rc == 0"