- name: Reset Kubernetes cluster state (control plane nodes)
  become: yes
  shell: |
    kubeadm reset -f
    rm -rf /etc/kubernetes/manifests/*
    rm -rf /var/lib/etcd/*
    systemctl stop kubelet
    systemctl stop crio
    systemctl start crio
    systemctl start kubelet
  ignore_errors: true

- name: Initialize Kubernetes first control plane node
  command: >
    kubeadm init
    --control-plane-endpoint={{ vip_address }}:6443
    --apiserver-advertise-address={{ ansible_default_ipv4.address }}
    --pod-network-cidr=10.244.0.0/16
    --upload-certs
  register: kubeadm_init_output
  changed_when: "'initialized' in kubeadm_init_output.stdout"
  when: inventory_hostname == groups['control_plane'][0]

- name: Save join control plane command for other control plane nodes
  shell: kubeadm token create --print-join-command --certificate-key $(kubeadm init phase upload-certs --upload-certs | tail -1) > /tmp/kubeadm_join_control_plane.sh
  when: inventory_hostname == groups['control_plane'][0]

- name: Fetch join control plane command script
  slurp:
    src: /tmp/kubeadm_join_control_plane.sh
  register: join_control_plane_command
  when: inventory_hostname == groups['control_plane'][0]

- name: Set join control plane command fact
  set_fact:
    kubeadm_join_control_plane_command: "{{ join_control_plane_command.content | b64decode | trim }}"
  when: inventory_hostname == groups['control_plane'][0]

- name: Stop kubelet service
  systemd:
    name: kubelet
    state: stopped
  ignore_errors: yes
  when: inventory_hostname != groups['control_plane'][0] and inventory_hostname in groups['control_plane']

- name: Remove old Kubernetes config files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/kubernetes/kubelet.conf
    - /etc/kubernetes/bootstrap-kubelet.conf
  when: inventory_hostname != groups['control_plane'][0] and inventory_hostname in groups['control_plane']

- name: Join additional control plane nodes to the cluster with retry loop
  command: "{{ hostvars[groups['control_plane'][0]].kubeadm_join_control_plane_command }} --control-plane"
  register: join_result
  failed_when: "'already joined' not in join_result.stderr.lower() and join_result.rc != 0"
  changed_when: join_result.rc == 0
  retries: 5
  delay: 30
  until: join_result is succeeded
  when: inventory_hostname != groups['control_plane'][0] and inventory_hostname in groups['control_plane']

- name: Deploy Flannel CNI plugin
  command: >
    kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
  become: yes
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  retries: 5
  delay: 15
  register: flannel_apply
  until: flannel_apply.rc == 0
  when: inventory_hostname == groups['control_plane'][0]

- name: Save worker join command
  shell: kubeadm token create --print-join-command > /tmp/kubeadm_join_worker.sh
  register: save_join_cmd
  when: inventory_hostname == groups['control_plane'][0]

- name: Read worker join command content
  slurp:
    src: /tmp/kubeadm_join_worker.sh
  register: join_worker_command
  when: inventory_hostname == groups['control_plane'][0]

- name: Set join worker command fact
  set_fact:
    kubeadm_join_worker_command: "{{ join_worker_command.content | b64decode | trim }}"
  when: inventory_hostname == groups['control_plane'][0]
