---
- name: Kubernetes Cluster Setup - control plane
  hosts: control_plane
  become: yes
  vars_files:
    - ../vars/main.yml

  roles:
    - common
    - kubeadm-control

- name: Kubernetes Cluster Setup - worker node join
  hosts: worker
  become: yes
  vars:
    kubeadm_join_worker_command: "{{ hostvars[groups['control_plane'][0]].kubeadm_join_worker_command }}"
  vars_files:
    - ../vars/main.yml

  roles:
    - common
    - kubeadm-worker